<head>
    <meta charset="UTF-8"/>
    <title>Facture pour Attia Raed</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|Raleway:200,300" rel="stylesheet" type="text/css"/>
    <link href="style.css" rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <h1>FACTURE
        <h2>PolyEntreprise</h2>
    </h1>
</header>
<section class="flex">
    <dl>
        <dt>Facture #</dt>
        <dd>FactureBL39</dd>
        <dt>Date de facturation</dt>
        <dd>2021-01-20</dd>
    </dl>
</section>
<section class="flex">
    <dl class="bloc">
        <dt>Facturé à:</dt>
        <dd>
            Attia Raed <br>
            Tunisie ,<br>
            sidiabdlahid ,Sousse, 4515
            <dl>
                <dt>Matricule</dt>
                <dd>25/25/25</dd>
                <dt>Téléphone</dt>
                <dd>65456885</dd>
                <dt>Courriel</dt>
                <dd>attia@raed.com</dd>
            </dl>
        </dd>
    </dl>
    <dl class="bloc">
        <dt>Methode de Payement</dt>
        <dd>Espèce</dd>
        <dt>Information</dt>
        <dd></dd>
    </dl>
</section>
<table>
    <thead>
    <tr>
        <th>Réference</th>
        <th>Designation</th>
        <th>Quantité</th>
        <th>TVA</th>
        <th>Prix Unitaire</th>
        <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>aaa</td>
        <td>qsdqsd</td>
        <td>11</td>
        <td>0.0%</td>
        <td>1.0</td>
        <td>11.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>57857</td>
        <td>eau</td>
        <td>40</td>
        <td>10.0%</td>
        <td>11.0</td>
        <td>440.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>aa</td>
        <td>sdfsdf</td>
        <td>6</td>
        <td>0.0%</td>
        <td>1.0</td>
        <td>6.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>aaa</td>
        <td>qsdqsd</td>
        <td>1</td>
        <td>0.0%</td>
        <td>1.0</td>
        <td>1.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>57857</td>
        <td>eau</td>
        <td>1</td>
        <td>10.0%</td>
        <td>11.0</td>
        <td>11.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>aa</td>
        <td>sdfsdf</td>
        <td>1</td>
        <td>0.0%</td>
        <td>1.0</td>
        <td>1.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>57857</td>
        <td>eau</td>
        <td>10</td>
        <td>10.0%</td>
        <td>11.0</td>
        <td>110.0</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>57857</td>
        <td>eau</td>
        <td>1</td>
        <td>10.0%</td>
        <td>11.0</td>
        <td>11.0</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"></td>
        <td>TTC:</td>
        <td>648.2</td>
    </tr>
    </tfoot>
    <tfoot>
    <tr>
        <td colspan="4"></td>
        <td>Total:</td>
        <td>591.0</td>
    </tr>
    </tfoot>
    <tfoot>
    <tr>
        <td colspan="4"></td>
        <td>TVA:</td>
        <td>57.2</td>
    </tr>
    </tfoot>
</table>
